
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
	outline: none;	
	background-color: #fff;
	font-family: 'Roboto', sans-serif; 
}

h2{ 
	margin:0;
	padding:0;
	font-weight: 700;
	font-size: 24px;
}
input button label select{
	font-family: 'Roboto'; 
}

/* HEADER*/
header {
	position: fixed;
	top:0;
	z-index:1000;
	background-color: #cfe5ef;
 	height: 150px;
 	width: 100%;
}

.header-content{
	max-width: 1250px;
	margin-right: auto;
	margin-left: auto;	
	top:0;
	z-index:1000;
 	height: 150px;	
}

.empty
{
height:150px;
}


.center {
	text-align: center;
	display:inline-block; 
    vertical-align: middle; 
}



.logo-img{
	line-height:normal;
	float:left;
	margin-top: 42px;
}

.logo-text{
	line-height:normal;
	margin: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    float:left;
  

}

.nav {
	line-height:normal;
	
}

.nav-list{
	margin: 0 20px;
	padding:0;
	list-style-type: none;
	font-weight: 700;
	font-size: 20px;

}
.nav-list:: after{
	display: block;
    content: ' ';
    clear: both;
    float: none;
}


.nav-list__item {
	float:left;
	padding:0;
	display:inline-block;
	float: left;
    position: relative;
	

}
.nav-list__link{
	vertical-align: top;
	padding:0 18px 0 18px;
	border: none;
	color:#000;
	text-decoration: none;
}

.nav-list__item:hover .sub-list{
	display: block;

	
}
.nav-list__item:hover{
	
	color:#000;
	background-color: #fff;
}
	
.has__submenu .nav-list__link{
	border-left:2px solid #000;
	border-right:2px solid #000;	
}

.sub-list{

	padding:10px 18px;
	color:#000;
	background-color: #fff;
	border-radius:0 5px 5px 5px;
	box-shadow: 2px 2px 2px 2px #e2e2e2;
	list-style-type: none;
	display: none;
	position: absolute;
	min-width: 189px;
}

.sub-list__item{
	font-weight: 700;
	font-size: 20px;
}

 
.sub-list__link{
	display: inline-block;
	vertical-align: top;
	color:#000;
	text-decoration: none;
}


.enter{
	line-height:normal;
	margin: 55px 0; 
	float: right;
	width: 127px;
	height: 61px;
	/*position: absolute;*/
	
}

.enter a{
	line-height:normal;
	padding: 22px 38px;
	font-weight: 700;
	font-size: 20px;
	background-color: #fff;
	color: #000;
	text-decoration: none;	
}

.enter:hover{
	
	color: #fff;
	
}

.enter a:hover{	
	background-color: #52359d;	
	color: #fff;
}

.block-content{
	max-width:1252px;
    margin-right: auto;
    margin-left: auto;
}
/*SECTION*/


section {
	
	margin-top: 54px;

}


.content-line .title {
    padding-bottom: 10px; 
    
   }

.content-line .decor-line{
	margin-bottom:29px;
	background-color: #c3c3c3;
	height: 5px;


}


.clear{
	clear: both;
}


.reviews{
	box-sizing: content-box;
	padding-top: 30px;
	padding-bottom: 30px;
}
.reviews-avatar{
	max-width: 100%;
	border: 1px solid #a2a3a3;
	border-radius:50%;


}
.reviews-had{
	font-weight: 700;
	font-size: 20px;
	padding: 20px;

}
time {
	font-size: 16px;
	color: #6e6e6e;
}
time::before {
	content: '';
	display: inline-block;
	width:18px;
	height:18px;
	background:url(calendar.jpg);
	background-repeat: no-repeat;
	margin-left:35px;
	margin-right: 10px;	

}
.reviews-text{
	font-size: 16px;
	color: #6e6e6e;
	padding: 20px;

}
.galery p{
	text-align: left;
	font-size: 12px;
	padding: 10px;
	padding-right: 40px;
	
}


.galery-img{
	display: block;
	border: 2px solid #e2e2e2;
}

.box-galery{
  max-width: 260px;
  display: inline-block;
  vertical-align: top;
  padding: 11px;
  position: relative;
}
.box-galery::before,
.box-galery::after {
  content: "";
  position: absolute;
  border: 1px solid  #e2e2e2;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.box-galery::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.box-galery::after {
    right: 0;
    bottom: 0;
    border-left: none;
    border-top: none;
}


/*button*/


.button{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #999;
	padding: 9px 25px 9px 22px;
	margin-top: 20px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;

}
.batton__text{
	display: inherit;
	line-height: 22px;

}
.button:hover{
    background-color: #52359d;
    color: #fff;
}
.button:active{
	background-color: #000;
    color: #999;
}
.button .icon{
	pointer-events: none;
	vertical-align: text-bottom;
}
.button:hover .icon{
	background-position-x: -72px;
}
.button:active .icon{
	background-position-x: -48px;
}

.button2 {
	display: inline-block;
	vertical-align: middle;
	float: left;
	background-color: transparent;
	border: 1px solid #999;
	padding: 10px 23px;
	margin-top: 20px;
	margin-right: 20px;
	font-family: Roboto;
	font-size: 16px;
}
.button2:hover{
    background-color: #52359d;
    color: #fff;
}
.button2:active{
	background-color: #000;
    color: #999;
}
.ui-control{
	position: relative;
}
.ui-control__element{
	width: 280px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #999;
}
.ui-control__element:focus {
	background-color: #e9f8ff;
	border: 1px solid #999;

}
.ui-control__element--icon{
	padding-left: 46px;
}

input label select{
	font-size: 18px;
	box-sizing: content-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;

}

.ui-control__select{
	width: 298px;
    height: 44px;
    padding-left: 16px;
    border: 1px solid #999;
}
.ui-control__select:focus {
	background-color: #e9f8ff;
	border: 1px solid #999;
}
.ui-control__select:focus ~ .icon-tel{
	
	background-position-x: -24px;	
}
.ui-control__select--icon-tel{
	padding-left: 46px;

}
.ui-control .icon-tel{
	position: absolute;
	top:9px;
	left: 15px;
}
select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border:2px solid #000;
	background:url(arrow.png);
	background-repeat:no-repeat;
	background-size:17px 8px;
	background-position:right 15px;

}


.ui-control__element1{
	width: 250px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #999;
}
.ui-control__element1:focus {
	background-color: #e9f8ff;
	border: 1px solid #999;
}
.ui-control .icon-lock{
	pointer-events: none;
	position: absolute;
	top:9px;
	left: 15px;
}
.ui-control__element--icon-lock{
	padding-left: 46px;
}

.ui-control__element1:focus ~ .icon-lock{
	
	background-position-x: -24px;	
}

.ui-control__element1--icon-lock{
	padding-left: 46px;
}

.checked{
	list-style-type: none;
	margin-left: -40px;
}
.checked__li{
	display:inline-block;
	float: left;
	margin-right:20px;
}
.checked__li:active{
 color:#52359d;
}



.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 33px;
  cursor: pointer;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
   width: 24px;
  height: 24px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
 
}
.checkbox__text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: #52359d;
  opacity: 0;
  transition: .2s;
 
}

.checkbox input:checked + .checkbox__text:after {
  opacity: 1;
}
.checkbox input:focus + .checkbox__text:before {
  border: 1px solid #52359d;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio__text {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}
.radio__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #999;
  border-radius: 50%;
  background: #fff;
}
.radio__text:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #52359d;
  opacity: 0;
  transition: .2s;
}
.radio input:checked + .radio__text:after {
  opacity: 1;
}
.radio input:focus + .radio__text:before {
	border: 1px solid #52359d;
  	
}

.textarea{
	position: relative;
	
}
.textarea__element{
	width: 598px;
	height: 167px;
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
    border: 1px solid #999;
    
}
.textarea__element:active{
	background-color: #e9f8ff;
	 border: 1px solid #999;
}
.textarea__element:hover{
	background-color: #e9f8ff;
	 border: 1px solid #999;
}
.textarea__element:hover~.icon-ans{
	background-position-x: -24px;	

}

.textarea__element1{
	width: 568px;
	height: 167px;
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
    border: 1px solid #999;
    
}
.textarea__element1:active{
	background-color: #e9f8ff;
	 border: 1px solid #999;
}
.textarea__element1:hover{
	background-color: #e9f8ff;
	 border: 1px solid #999;
}
.textarea__element1:hover~.icon-ans{
	background-position-x: -24px;	

}

.textarea__element--icon-ans{
	padding-left: 46px;
}
.textarea .icon-ans{
	position: absolute;
	top:9px;
	left: 15px;
}


/*icon*/
.icon {
	display: inline-block;
	vertical-align: top;
	width:24px;
	height:24px;
	background-image:url(sprit.png);
	background-position-y:-47px;
}
.icon:hover{
	background-position-x: -72px;	
}

.icon-tel {
	display: inline-block;
	vertical-align: top;
	width:24px;
	height:24px;
	background-image:url(sprit.png);
	background-position-y:-96px;
}
.icon-tel:focus{
	background-position-x: -24px;	
}
.icon-tel:hover{
	background-position-x: -24px;	
}



.icon-lock {
	display: inline-block;
	vertical-align: top;
	width:24px;
	height:24px;
	background-image:url(sprit.png);
	background-position-y:0;
}
.icon-lock:hover{
	background-position-x: -72px;	
}
.icon-lock:active{
	background-position-x: -48px;	
}
.icon-ans{
	display: inline-block;
	vertical-align: top;
	width:24px;
	height:24px;
	background-image:url(sprit.png);
	background-position-y:48px;

}
.icon-ans:hover{
	background-position-x: -24px;	
}
.icon-ans:active{
	background-position-x: -24px;	
}